<nb-card>
    <nb-card-body class="example-items-col">
     <form [formGroup]="form" (ngSubmit)="verificar(form.value)"enctype="multipart/form-data"> 
      <input type="hidden"  value="0" formControlName="id" >
      <label>Documento de Sancion </label> <small style="color: red;">{{getError()}}</small>
      <input nbInput fullWidth id="file"  shape="round" name="file"  (change)="recarga($event);validateArchive()"accept=".pdf" type="file" >
      <input #acta  formControlName="acta"   type="hidden"  >
      <label>Fecha Desercion</label>
      <input type="text" [value]='value|date' nbInput  shape="round"readonly fullWidth>
      <label>Aprendiz</label><small style="color: red;"*ngIf="aprendiz ==='Selecciona un aprendiz'"> *</small>
      <input type="text" [value]="aprendiz" readonly nbInput (click)="open()"  shape="round"readonly fullWidth>
      <label>Descripcion </label> <small style="color: red;">{{getErrorCanApe()}}</small>
  <textarea nbInput fullWidth placeholder="(Descripcion Opcional)" formControlName="DescripcionNovedad"></textarea>
       <button nbButton status="warning" type="submit" [disabled]="form.invalid">Enviar</button>
    </form>
    </nb-card-body>
  </nb-card>

