<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><img src="../../../assets/images/logo_n.png" alt="NOVOST" class="img-fluid"></a>
  </div>
</div>
<div class="header-container">
  <nb-actions size="small">
    <nb-action (click)="cerrarSession()" nbTooltip="Cerrar Sesion" nbTooltipIcon="log-out-outline"class="control-item" icon="log-out-outline">
    </nb-action>
    <nb-action class="user-action" (click)="userM()"*nbIsGranted="['view', 'user']" >
      <nb-user 
               [onlyPicture]="userPictureOnly"
               [name]="user?.name"
               [picture]="user?.picture" >
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
